.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.back-room-button {
    background: none;
    border: none;
    color: black;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-room-button:hover {
    color: grey;
    transform: scale(1.07); /* Scale up the button on hover */
}

.device h1 {
    font-size: 2rem;
}

.device {
    padding: 20px;
    text-align: center;
    background: #ebebeb; /* Change this to any color you prefer */
    color: black; /* Ensure the text color contrasts with the background */
    border-radius: 20px;
}

.devices-list {
    margin-top: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.devices-list li {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.devices-list li:last-child {
    border-bottom: none;
}
.navigate-details-button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.navigate-details-button:hover {
    background-color: #0056b3;
}
